@font-face {
    font-family: headers;
    src: url(./fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: main;
    src: url(./fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: main;
    scroll-behavior: smooth;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid: repeat(auto-fill, minmax(33%, 1fr)) / repeat(auto-fill, minmax(33%, 1fr));
    background-image: url(./images/mainheroBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 5px grey;
} 

header::after{
    z-index: 1;
    position: absolute; 
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(9, 27, 59);
    opacity: 50%;
}

.hero-image{
    z-index: 2;
    grid-area: 1 / 1 / 4 / 3;
    align-self: center;
    justify-self: center;
    width: 35%;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px rgb(133, 151, 184);
} 

.hero-text{
    z-index: 2;
    grid-area: 1 / 2 / 4 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(138, 169, 221);;
    text-align: center;
}

.hero-text h1{
    font-family: main;
    font-size: 8rem;
    text-shadow: 5px 5px 0 rgb(35, 52, 83);  
}

.hero-text a, .contact-button{
    cursor: pointer;
    color: white;
    width: 10rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid white;
    outline: none;
    background-color: rgb(9, 27, 59);
    text-align: center;
    text-decoration: none;
}

.hero-text button:hover, .contact-button:hover{
    background-color: rgb(26, 57, 112);
}

main{
    display: flex;
    flex-direction: column;
}

.work-site{
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.work-site, .project-container{
    width: 100%;
    height: 75vh;
    display: grid;
}

.work-site{
    background-color: rgb(198, 212, 238); 
}

.work-site > *{
    align-self: center;
    justify-self: center;
}

.work-site img{
    width: 90%;
}
.contact-info-container{
    color: rgb(9, 27, 59);
    text-shadow: 5px 5px 0 rgb(83, 117, 177);
    font-size: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
}

.project-container{
    background-color: rgb(9, 27, 59);
    padding: 0 5rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.project-container h1{
    grid-column: 1 / 3;
    color: white;
    font-size: 3rem;
}

.project-container > * {
    font-family: main;
    align-self: center;
    justify-self: center;
}

.project-display-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1vw, 1.66vw, 3rem);
}

.slide-buttons{
    position: relative;
    cursor: pointer;
    width: 3rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.slide-buttons::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(83, 117, 177);
    z-index: -1;
    opacity: 0;
    border-radius: 1rem;
}

.slide-buttons:hover::before{
    opacity: 50%;
}

.project-display, .project-description{
    position: relative;
    width: clamp(20rem, 29.17vw, 40rem);
    height: clamp(15rem, 20.83vw, 30rem);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}



.project-description{
    border: 2px solid rgb(83, 117, 177);
    flex-direction: column;
    justify-content: space-evenly;
}

.language-container{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 1vw, 2rem);
}

.description-container{
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(1rem, 1vw, 2rem);
}
.description-container h1{
    font-family: main;
    height: max-content;
    font-size: clamp(.5rem, 2vw, 3rem);
}
.description-container p{
    text-align: center;
    color: white; 
    height: max-content;
    font-size: clamp(.5rem, 1vw, 2rem);
}

.language-container::after, .description-container::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(83, 117, 177);
    opacity: 50%;
    z-index: -1;
}
.language-container::after{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.description-container::after{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@keyframes display-language-image {
    0%{
        opacity: 0;
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}

.language-container > *{
    width: clamp(100px, 5vw, 120px);
    overflow: auto;
    animation: display-language-image 1s ease-in-out 1;
}

.project-display::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 2;
    border-radius: 1rem;
}

.project-display:hover::after{
    opacity: 50%;
}

.project-display > *{
    position: relative;
    width: inherit;
    height: inherit;
    z-index: 1;
    border-radius: 1rem;
    border: 2px solid rgb(83, 117, 177);
}

#link-to{
    position: absolute;
    width: 3rem;
    height: auto;
    border: none;
    fill: white;
    z-index: 3;
}

.hide{
    display: none;
}


footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(5, 14, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

footer > * {
    width: 3rem;
    height: 3rem;
}

footer > * path{
    fill: rgb(83, 117, 177);
}

@media (max-width: 1440px) {
    .hero-text h1{
        font-size: 6rem;
    }

    .contact-info-container{
        font-size: 3rem;
    }
}

@media (max-width: 1024px) {
    header, .work-site, .project-container, footer{
        min-width: 400px;
        min-height: max-content;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .hero-image{
        width: 10rem;
    }
    .hero-text{
        width: max-content;
        height: max-content;
        gap: 2rem;
    }
    .hero-text h1{
        font-size: 3rem;
    }

    .contact-info-container{
        font-size: 2rem;
        justify-content: center;
        height: max-content;
        gap: 3rem;
    }

    .hero-text a, .contact-button{
        width: 9rem;
    }

    .work-site{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .work-site img{
        width: clamp(18.75rem, 30vw, 54rem);
    }

    .project-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
    }
    .project-container > h1:first-of-type{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
    }
    .description-container{
        justify-content: center;
    }

    footer > * {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 375px){
    .slide-buttons{
        overflow: hidden;
    }
    .project-container h1{
        font-size: 1.5rem;
    }
}

@media (max-width: 480px){
    .project-container h1{
        font-size: 1.5rem;
    }
}
